<pre>



</pre>
<div class="container">

    <form action="" method="post">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <h1>Ajouter car</h1>

                <fieldset>


                    <!-- calsse user badelha ² -->
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <label> type </label>
                            @Html.TextBox("type", null, new { @Class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label> nmbr place</label>
                        @Html.TextBox("nbr_place", null, new { @Class = "form-control" })
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="lil" value="Ajouter" />
                    </div>


                </fieldset>

            </div>
        </div>
        <div class="col-3">

        </div>
    </form>
</div>